<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Ingredients:</strong>
</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= link_to 'Delete dose', cocktail_dose_path(cocktail_id: @cocktail.id, id: dose.id), method: :delete %></li>
  <% end %>
</ul>

<%= link_to 'Create a new dose', new_cocktail_dose_path(@cocktail) %>



<%= link_to 'Go back', cocktails_path %>